*.out
*.txt
*.gch
*.bin
*.csv
*.o
*.json
*.vscode
*.ppm
**/Cargo.lock
**/target

*.log
*.aux
*.loe
*.fdb_latexmk
*.fls
*.gz
*.toc
*_vimtex_selected.tex
*.thm

# to remove March 2025
progetto/
red-black/
