BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
ColumnLimit: 100

AllowShortFunctionsOnASingleLine: Empty
AllowShortLoopsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AlignConsecutiveAssignments:
    Enabled: true
    AcrossEmptyLines: true
    AcrossComments: true
    AlignCompound: true
    PadOperators: true
AlignConsecutiveDeclarations:
    Enabled: true
    AcrossEmptyLines: true
    AcrossComments: true
    AlignFunctionPointers: true
AlignConsecutiveMacros:
    Enabled: true
    AcrossEmptyLines: true
    AcrossComments: false
AlignConsecutiveBitFields:
    Enabled: true
    AcrossEmptyLines: true
    AcrossComments: true
PointerAlignment: Right
